.obsidian-admin-row {
	display: flex;
	align-items: flex-end;
	gap: 5px;

	+ .obsidian-admin-row {
		margin-top: 5px;
	}
}

.obsidian-admin-column {
	flex: 1 1 auto;
}

.obsidian-admin-column--icon {
	flex: 0 0 50px;

	> * {
		margin-bottom: 8px;
	}
}
