@import "../../../node_modules/tom-select/src/scss/tom-select.default";

:root {
	// Wrapper
	--of-field-flex-direction: column;
	--of-field-gap: 5px;
	--of-field-flex: 1 1 auto;
	--of-field-min-width: 50px;
	--of-field-border-color: #222;
	--of-field-color: #222;
	--of-field-error-color: #f00;

	// Label
	--of-field-label-gap: 5px;

	// Type: input
	--of-field-input-background-color: #fff;
	--of-field-input-border-radius: 3px;
	--of-field-input-border-width: 1px;
	--of-field-input-gap: 5px;
	--of-field-input-padding: 6px 10px;
	--of-field-input-min-width: 50px;
	--of-field-input-svg-width: 20px;

	// Type: textarea
	--of-field-textarea-min-height: 80px;

	// Type: checkbox, radio
	--of-field-checkboxes-flex-direction: column;
	--of-field-checkboxes-gap: 5px;
	--of-field-checkboxes-row-gap: 10px;
	--of-field-checkboxes-field-gap: 2px;

	// Type: select (tom-select)
	--of-ts-wrapper-min-height: 34px;
	--of-ts-control-padding: var(--of-field-input-padding);
	--of-ts-control-background-color: var(--of-field-input-background-color);
	--of-ts-control-gradient: none;
	--of-ts-dropdown-background-color: var(--of-field-input-background-color);
	--of-ts-dropdown-border-color: var(--of-field-border-color);
	--of-ts-dropdown-border-width: var(--of-field-input-border-width);
	--of-ts-dropdown-color: var(--of-field-color);
	--of-ts-dropdown-margin: 0;
	--of-ts-dropdown-option-active-background-color: #f5fafd;
	--of-ts-dropdown-option-active-color: #222;
}

.wp-block-obsidian-form-field {
	display: flex;
	flex-direction: var(--of-field-flex-direction);
	gap: var(--of-field-gap);
	flex: var(--of-field-flex);
	min-width: var(--of-field-min-width);

	&__label {
		display: flex;
		gap: var(--of-field-label-gap);
	}

	&__input {
		background: var(--of-field-input-background-color);
		border: var(--of-field-input-border-width) solid var(--of-field-border-color);
		border-radius: var(--of-field-input-border-radius);
		display: flex;
		gap: var(--of-field-input-gap);
		padding: var(--of-field-input-padding);
		min-width: var(--of-field-input-min-width);

		svg {
			width: var(--of-field-input-svg-width);
		}
	}

	&.obsidian-forms-field__error {

		.wp-block-obsidian-form-field__label {
			color: var(--of-field-error-color);
		}
	}
}

.wp-block-obsidian-form-field__checkboxes,
.wp-block-obsidian-form-field__radios {
	display: flex;
	flex-direction: var(--of-field-checkboxes-flex-direction);
	gap: var(--of-field-checkboxes-gap);

	&--row {
		flex-direction: row;
		gap: var(--of-field-checkboxes-row-gap);
	}
}

.wp-block-obsidian-form-field__checkbox,
.wp-block-obsidian-form-field__radio {
	display: flex;
	gap: var(--of-field-checkboxes-field-gap);
}

.obsidian-forms-field {

	&__textarea {

		textarea {
			min-height: var(--of-field-textarea-min-height);
			resize: vertical;
		}
	}

	&__select {
		// Custom styles for tom-select
		.ts-wrapper {
			min-height: var(--of-ts-wrapper-min-height);
		}

		.ts-wrapper.single .ts-control {
			border-color: var(--of-field-border-color);
			background-color: var(--of-ts-control-background-color);
			background-image: var(--of-ts-control-gradient);
			padding: var(--of-ts-control-padding);
		}

		.ts-dropdown {
			background-color: var(--of-ts-dropdown-background-color);
			border-color: var(--of-ts-dropdown-border-color);
			border-width: var(--of-ts-dropdown-border-width);
			color: var(--of-ts-dropdown-color);
			margin: var(--of-ts-dropdown-margin);

			.option.active {
				background-color: var(--of-ts-dropdown-option-active-background-color);
				color: var(--of-ts-dropdown-option-active-color);
			}
		}
	}
}
