:root {
	--of-background-color: #f9f9f9;
	--of-border-color: #eaeaea;
	--of-border-width: 1px;
	--of-border-radius: 5px;
	--of-padding: 20px;
	--of-title-font-size: 1.5em;
	--of-gap: 10px;
}

.wp-block-obsidian-form-form {
	padding: var(--of-padding);
	background-color: var(--of-background-color);
	border: var(--of-border-width) solid var(--of-border-color);
	border-radius: var(--of-border-radius);
	display: flex;
	flex-direction: column;
	gap: var(--of-gap);

	.obsidian-form-title {
		font-size: var(--of-title-font-size);
		margin-top: 0;
	}
}

.obsidian-form-setting {
	display: flex;
	flex-direction: column;
}
